[submodule "DirectXShaderCompiler"]
	path = External/DirectXShaderCompiler
	url = https://github.com/microsoft/DirectXShaderCompiler
[submodule "SPIRV-Cross"]
	path = External/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "rapidjson"]
	path = External/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "shaderc"]
	path = External/shaderc
	url = https://github.com/google/shaderc
[submodule "yas"]
	path = External/yas
	url = https://github.com/niXman/yas
